name: Build
on:
  push:
    branches:
      - ma
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: 17
          cache: maven
          distribution: 'temurin'
      - name: Build with Maven
        run: mvn -B clean package --file pom.xml